:root {
	--color-white: #fffaef;
	--color-sand: #e8d9b6;
	--color-brown: #9b8c6a;
	--color-dark-blue: #5b709b;
	--color-light-blue: #b6c6e8;
}

* {
	margin: 0;
}

body {
	font-family: "Lato", sans-serif;
}
h1 {
	font-family: "Poiret One", sans-serif;
}
h2 {
	font-family: "Amatic SC", sans-serif;
}

h3 {
	font-size: 1.5rem;
}

main {
	padding-top: 100px;
	background-color: var(--color-white);
}

@media (min-width: 768px) {
	/* styles tablette */
}

@media (min-width: 1024px) {
	/* styles desktop */
	html {
		width: 70%;
		margin: 0 auto;
		background-color: var(--color-white);
	}

	main {
		padding-top: 300px;
	}
}
