---

---
<section id="about" class="about">
    <h3>
        Mon chemin de vie
    </h3>

    <p>
        Je suis Malika Amari, passionnée par l'hypnose Quantique Spirituelle et Energétique, la P.N.L, la naturopathie et la réflexologie plantaire. </br>
        J'interviens à domicile </br>
        Tarif : 160 € </br>
        Durée de la séance : 2 à 4 heures. Ne rien prévoir après la séance.
        
        
    </p>
</section>

<style>
    .about {
        background: var(--color-white);
        scroll-margin-top: 100px;
    }

    .about h3 {
        text-align: center;
        color: var(--color-light-blue);
        margin: 1rem;
    }

    .about p {
        color: var(--color-brown);
        margin: 1rem;
    }
</style>