---

---
<section class="about">
    <h3>
        Mon chemin de vie
    </h3>

    <p>
        Malika AMARI

        Passionnée par l'hypnose Quantique Spirituelle et Energétique, la P.N.L, la naturopathie, la réflexologie plantaire.
        
        Intervention à domicile
        
        Tarif : 160 €
        
        Durée de la séance : 2 à 4 heures. Ne rien prévoir après la séance.
        
        
        Ma spécialité : Hypnose Quantique Spirituelle et Energétique
    </p>
</section>

<style>
    .about {
        background: var(--color-white);
    }

    .about h3 {
        text-align: center;
        color: var(--color-light-blue);
        margin: 1rem;
    }

    .about p {
        color: var(--color-brown);
        margin: 1rem;
    }
</style>