---

---
<section id="about" class="about">
    <h3>
        Mon chemin de vie
    </h3>

    <p>
        <strong>Malika Amari</strong>, 
        passionnée par l’hypnose Quantique Spirituelle et Énergétique (QSE), la PNL, la naturopathie et la réflexologie plantaire. J’accompagne chaque personne avec bienveillance et respect de son rythme.
        Je propose des séances d’hypnose à domicile, dans un cadre apaisant et personnalisé.
    </p>

    <p>
Cette approche permet d’accéder à l’inconscient en profondeur afin de comprendre et libérer les racines d’une problématique. Contrairement aux méthodes qui ne traitent que les symptômes, l’Hypnose QSE explore les couches les plus profondes pour aller à l’origine du blocage.
Elle aide à dépasser des traumatismes, phobies, maladies ou schémas répétitifs – qu’ils soient issus de cette vie, de vies antérieures ou d’héritages transgénérationnels.
    </p>

    <p>
        L’inconscient connaît vos besoins mieux que quiconque. En hypnose QSE, il vous conduit naturellement vers l’expérience, le souvenir ou le symbole juste pour vous.
Il ne s’agit pas d’un sauvetage extérieur : vous détenez vous-même la clé de votre libération. L’hypnose n’est qu’un chemin pour y accéder.
    </p>
</section>

<style>
    .about {
        background: var(--color-white);
        scroll-margin-top: 100px;
    }

    .about h3 {
        text-align: center;
        color: var(--color-light-blue);
        margin: 1rem;
    }

    .about p {
        color: var(--color-brown);
        margin: 1rem;
        text-align: center;
    }
</style>