---
---
<section id="contact" class="contact">
    <h3>
        Envie d'échanger ?
    </h3>
    <p>Je suis à votre écoute. N’hésitez pas à me laisser un message, je vous répondrai rapidement.</p>
    <div class="flex-container">
    <div class="form-container">

        <form action="#" method="POST">
            <input type="text" name="name" placeholder="Votre nom" required>
            <input type="email" name="email" placeholder="Votre mail" required>
            <textarea name="message" rows="5" cols="33" placeholder="Votre message ici..."></textarea>
            <input class="submit" type="submit" value="Envoyer">
        </form>
    </div>
    <span class="line"></span>
    <div class="phone-container">
        <img src="/phone.webp" alt="logo de téléphone">
        <p>Ou contactez moi directement au : </p>
        <a class="phone-number" href="tel:+33686065341">06 86 06 53 41</a>
    </div>
</div>
</section>

<style>
    .contact {
        background: var(--color-dark-blue);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        scroll-margin-top: 100px;
    }

    .contact h3 {
        color: var(--color-white);
        text-align: center;
    }

    .contact p {
        color: var(--color-white);
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .contact form {
        display: flex;
        flex-direction: column;
        font-family: "Lato", sans-serif;
    }

    .contact form input {
        border: none;
        margin-bottom: 0.5rem;
        border-radius: 0.2rem;
        background-color: var(--color-white);
        color: var(--color-dark-blue);
        padding: 0.5rem;
        font-family: "Lato", sans-serif;
        font-size: 1rem;
    }

    .contact form textarea {
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border: none;
        border-radius: 0.2rem;
        background-color: var(--color-white);
        color: var(--color-dark-blue);
        font-family: "Lato", sans-serif;
        font-size: 1rem;
    }

    .contact form .submit {
        background-color: var(--color-brown);
        color: var(--color-white);
        width: 50%;
        align-self: flex-end;
        margin-bottom: 0;
        cursor: pointer;
        font-family: "Lato", sans-serif;
        font-weight: bold;

    }

    .line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--color-white);
        border-radius: 2px;
        margin: 1rem auto;
    }

    .phone-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .phone-container img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

    .phone-container .phone-number {
        font-weight: bold;
        text-decoration: none;
        color: var(--color-white);
    }

    .phone-container .phone-number:visited {
        color: var(--color-white);
        text-decoration: none;
    }

@media (min-width: 1024px) {

    .contact p {
        text-align: center;
        margin-bottom: 1.5rem;
    }
    .flex-container {
        position: relative;
        display: grid;
        grid-template-columns: 45% 10% 45%;
        gap: 2rem;
    }

    .line {
        height: 90%;
        width: 2px;
    }

    .phone-container {
        position: absolute;
        right: 12.5%;
        top: 12.5%;
    }

    .phone-container img {
        width: 100px;
        height: 100px;
        margin-bottom: 1rem;
    }
}
</style>
