---
---
<section class="contact">
    <h3>
        Envie d'échanger ?
    </h3>
    <p>Je suis à votre écoute. N’hésitez pas à me laisser un message, je vous répondrai rapidement.</p>
    <form action="#" method="POST">
        <input type="text" name="name" placeholder="Votre nom" required>
        <input type="email" name="email" placeholder="Votre mail" required>
        <textarea name="message" rows="5" cols="33" placeholder="Votre message ici..."></textarea>
        <input type="submit" value="Envoyer">
    </form>
</section>

<style>
    .contact {
        background: var(--color-dark-blue);
        padding: 1rem;
    }

    .contact h3 {
        color: var(--color-white);
    }

    .contact p {
        color: var(--color-white);
    }

    .contact form {
        display: flex;
        flex-direction: column;
    }
</style>
