---
---
<section id="FAQ" class="FAQ">
    <h3>Questions fréquentes</h3>
    <ul>
        <li> 
            <h4>Est-ce que tout le monde est réceptif à l'hypnose ?</h4>
            <p>Oui, tout le monde peut entrer en état d’hypnose. C’est un état naturel que nous expérimentons au quotidien (lorsqu'on est absorbé dans un livre ou "dans la lune"). La séance s’adapte à votre rythme et à votre sensibilité.</p>
        </li>
        <li>
            <h4>Vais-je perdre le contrôle pendant la séance ?</h4>
            <p> Non, l’hypnose thérapeutique n’a rien à voir avec l’hypnose de spectacle. Vous restez conscient(e) tout au long de la séance. C’est un travail collaboratif : je vous guide, mais vous êtes toujours libre.</p>
        </li>
        <li>
            <h4>Combien de séances faut-il pour obtenir des résultats ?</h4>
            <p> Cela dépend de la personne et de la problématique. Parfois une seule séance peut suffire, d’autres fois quelques séances sont nécessaires. Nous adaptons ensemble selon vos besoins.</p>
        </li>
        <li>
            <h4>L'hypnose peut-elle aider contre l'anxiété ou les phobies ?</h4>
            <p>Absolument. L’hypnose permet d’apaiser l’anxiété, de gérer les crises de stress, ou de désactiver des peurs irrationnelles comme les phobies (avion, araignées, etc.).</p>
        </li>
        <li>
            <h4>Est-ce remboursé par la sécurité sociale ?</h4>
            <p> L’hypnose thérapeutique n’est pas remboursée par la Sécurité sociale, mais certaines mutuelles proposent un remboursement partiel selon les forfaits bien-être. Renseignez-vous auprès de la vôtre.</p>
        </li>
    </ul>
</section>

<style>

    .FAQ {
        scroll-margin-top: 100px;
        padding-bottom: 1.5rem;
    }
    .FAQ h3 {
        font-weight: bold;
        color: var(--color-light-blue);
        text-align: center;
        margin: 2rem;
    }

    .FAQ ul {
        width: 80%;
        list-style: none;
        padding-left: 32px;
    }
    
    .FAQ li {
        position: relative;
        color: var(--color-dark-blue);
        padding-left: 2rem;
        margin-bottom: 1.5rem;
    }

    .FAQ li::before {
        content: "";
        position: absolute;
        left: -0.8rem;
        width: 1.5rem;
        height: 1.5rem;
        background: url("/lotus-list-style.svg");
        background-size: contain;
    }

    .FAQ li h4 {
        color: var(--color-dark-blue);
        font-size: 1.3;
        margin-bottom: 0.5rem;
    }

    .FAQ li p {
        color: var(--color-brown);
        font-size: smaller;
        font-style: italic;
    }

    @media (min-width: 1024px) {
        .FAQ {
            scroll-margin-top: 200px ;
        }
    }
    
</style>