---
---

<section id="intervention" class="intervention">
    <h3>
        Mes domaines d'intervention
    </h3>
    <div class="content-container">
    <img src="/meditation.webp" alt="illustration d'une femme méditant en pleine nature">
    <ul>
        <li>Apaiser les blessures d’évènements passés encore présents</li>
        <li>Rencontrer et réconforter son enfant intérieur</li>
        <li>Entrer en dialogue avec une émotion, une douleur, un blocage ou une présence subtile</li>
        <li>Recevoir un soin énergétique réharmonisant</li>
        <li>Se relier à son guide, à sa conscience supérieure ou à un proche disparu</li>
        <li>Éclairer sa mission de vie et trouver clarté dans ses choix</li>
        <li>Se ressourcer dans des espaces intérieurs de lumière et de paix</li>
        <li>Explorer les mémoires de vies antérieures</li>
      </ul>
</div>
</section>

<style>
    .intervention {
        background-color: var(--color-white);
        scroll-margin-top: 100px;
        padding: 3rem 1rem;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-bottom: 0;
    }
    .intervention h3 {
        text-align: center;
        color: var(--color-light-blue);
        margin: 1rem;
    }

    .intervention img {
        display: block;
        margin: 1rem auto;
        max-width: 400px;
        border-radius: 1rem;
        height: auto;
        width: 100%;
    }

    .intervention ul {
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
       gap: 1rem;
       margin: 1rem;
       padding: 0;
    }

    .intervention li {
        background-color: var(--color-sand);
        color: var(--color-dark-blue);
        list-style: none;
        text-align: center;
        padding: 0.75rem;
        border-radius: 12px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .intervention li:hover {
        transform: translateY(-3px);
        box-shadow: 0 8px 12px rgba(0,0,0,0.15);
    }


@media (min-width: 1024px) {

    .intervention {
        scroll-margin-top: 200px;
    }
    .content-container {
        display: flex;
    }

    .intervention li {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
</style>