---
---

<section class="intervention">
    <h3>
        Mes domaines d'intervention
    </h3>
    <img src="/public/meditation.png" alt="illustration d'une femme méditant en pleine nature">
    <ul>
        <li>Régler des évènments passés non digérés</li>
        <li>Dialoguer avec son enfant intérieur</li>
        <li>Echanger avec une entité, un blocage, une douleur, une âme errante, une émotion</li>
        <li>Recevoir un soin énergétique</li>
        <li>Contacter son guide, sa conscience supérieure, un proché défunt</li>
        <li>Interroger sur sa mission de vie; sur des décisions que l'on arrive pas à prendre</li>
        <li>Se charger dans des endroits ressources</li>
        <li>Connaître ses vies antérieures</li>
    </ul>

</section>

<style>
    .intervention {
        background-color: var(--color-white);
    }
    .intervention h3 {
        text-align: center;
        color: var(--color-light-blue);
        margin: 1rem;
    }

    .intervention img {
        height: auto;
        width: 100%;
    }

    .intervention ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        margin: 1rem;
        padding: 0;
    }

    .intervention li {
        background-color: var(--color-sand);
        color: var(--color-dark-blue);
        font-weight: bold;
        list-style: none;
        text-align: center;
        padding: 0.5rem;
        border-radius: 10px;
    }
</style>