---
import Banner from "../components/Banner.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title ? `${title} | Chemin Hypnose` : "Chemin Hypnose"}</title>
    <meta name="description" content="Hypnothérapie en région PACA avec Malika. Retrouvez équilibre et sérénité grâce à l'hypnose." />
    <link rel="icon" href="/public/favicon.jpg">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Handlee&family=Poiret+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <Header />
    <main>
      <Banner />
      <slot />
    </main>
    <Footer />
  </body>
</html>
