---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Banner from "../components/Banner.astro";
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title ? `${title} | Chemin Hypnose` : "Chemin Hypnose"}</title>
    <meta name="description" content="Hypnothérapie en région PACA avec Malika. Retrouvez équilibre et sérénité grâce à l'hypnose." />
    <link rel="icon" href="/lotus-icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <Header />
    <main>
      <Banner />
      <slot />
    </main>
    <Footer />
  </body>
</html>
